/dataset/Panoptic/171026_pose3/hdPose3d_stage1_coco19/
/dataset/Panoptic/171026_pose3/hdVideos/
/dataset/Panoptic/171026_pose3/calibration_171026_pose3.json
/dataset/Panoptic/171204_pose1_sample/hdPose3d_stage1_coco19/
/dataset/Panoptic/171204_pose1_sample/hdVideos/
/dataset/Panoptic/171204_pose1_sample/calibration_171204_pose1_sample.json
